.forecast {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.object {
  flex: 1;
  min-width: 150px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.object:hover {
  background-color: #f0f4ff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.date-label {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 4px;
  margin-top: 4px;
  color: #666;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.details {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.details-temp {
  display: flex;
  flex-direction: column;   
  align-items: center;
}

.temp-label-max {
  font-weight: 600;
  color: #A11E00;
  margin: 0 5px;
}

.temp-label-min {
  font-weight: 600;
  color: #474A96;
  margin: 0 5px;
}

.temp-value {
  font-weight: 400;
  color: #666;
  margin: 0 5px;
}
